* {
	padding: 0;
	margin: 0;
	font-family: Lato;
}

body {
	background: url(rabbit.jpg);
	height: 100%;
}

.container {
	padding: 0px 30px 0px 30px;
	margin-left: 10%;
	margin-top: 5%;
	background-color: #fff;
	opacity: 0.85;
	width: 58%;
	height: 420px;
}

#wrapper2 {
	display: none;
}

p {
	margin-bottom: 10px;
}

input {
	padding: 10px;
	font-family: Lato;
	font-size: 1.2em;
	width: 20px;
}
button {
	color: #000;
   background: none;
	padding: 10px;
	margin: 10px 0px;
   border: 1px solid #555;
   font-family: Lato;
   font-size: 15px;
   cursor: pointer;
   font-weight: 300;
   transition: background-color 0.3s, color 0.3s;
}

button:focus {
	border: none;
}

.heading {
	padding: 20px 20px 3px 0px;
	margin-top: 5%;
}

.disclaimer {
	font-size: 0.8em;
}